<nav>
  <ul>
    <li><a href="#">Patterns 1</a></li>
    <li><a href="#">Patterns 2</a></li>
    <li><a href="#">Patterns 3</a></li>
    <li><a href="#">Patterns 4</a></li>
    <li><a href="#">Patterns 5</a></li>
    <li><a href="#">Patterns 6</a></li>
    <li><a href="#">Patterns 7</a></li>
    <li><a href="#">Patterns 8</a></li>
    <li><a href="#">Patterns 9</a></li>
    <li><a href="#">Patterns 10</a></li>
    <li><a href="#">Patterns 11</a></li>
    <li><a href="#">Patterns 12</a></li>
    <li><a href="#">Patterns 13</a></li>
    <li><a href="#">Patterns 14</a></li>
    <li><a href="#">Patterns 15</a></li>
    <li><a href="#">Patterns 16</a></li>
    <li><a href="#">Patterns 17</a></li>
    <li><a href="#">Patterns 18</a></li>
    <li><a href="#">Patterns 19</a></li>
    <li><a href="#">Patterns 20</a></li>
    <li><a href="#">Patterns 21</a></li>
    <li><a href="#">Patterns 22</a></li>
    <li><a href="#">Patterns 23</a></li>
    <li><a href="#">Patterns 24</a></li>
    <li><a href="#">Patterns 25</a></li>
    <li><a href="#">Patterns 26</a></li>
    <li><a href="#">Patterns 27</a></li>
    <li><a href="#">Patterns 28</a></li>
    <li><a href="#">Patterns 29</a></li>
    <li><a href="#">Patterns 30</a></li>
  </ul>
</nav>
